# Python
__pycache__/
*.py[cod]
*$py.class
venv/
*.env

# Virtual Environment
.venv/
env/

# IDE
.vscode/
.idea/

# Results and Uploads
uploads/
static/results/
tests/
# Dependency directories
node_modules/

# Misc
.DS_Store
requirements.txt
Jenkinsfile
test_app.py
run_on_windows.py