<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Download Results</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <div class="container">
        <h1>Download Results</h1>
        <div class="download-links">
            <a href="{{ url_for('download_file', filename='webcam_results.csv') }}" class="button">Download Webcam Results CSV</a>
        </div>
        <a href="{{ url_for('home') }}" class="button">Back to Home</a>
    </div>
</body>
</html>
